<h1>users/show</h1>

Name: <%= @user.name %><br>
Height: <%= @user.height %><br>
Happiness: <%= @user.happiness %><br>
Nausea: <%= @user.nausea %><br>
Mood: <%= @user.mood %><br>
Tickets: <%= @user.tickets %><br>
